.actorstable {
    border-collapse: collapse;
    margin-top: 1em;
    width: 100%;
}

.actorstable td {
    border: 1px solid black;
    padding: 0.5em;
    width: 33%;
}

.conflicttable {
    border-collapse: collapse;
    margin-top: 1em;
    width: 100%;
}

.conflicttable td {
    border: 1px solid black;
    padding: 0.5em;
    width: 25%;
}

.courtgenerator button {
    font-size: 1.5em;
    height: 4em;
    width: 10em;
}

.selector {
    vertical-align: bottom;
    font-size: 1.5em;
}

.selector select {
    font-size: 1em;
}


.courtgenerator div {
    display: inline-block;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
}

.header {
    text-align: center;
}

.linestart {
    font-weight: bold;
}